APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=https://api.caribbeantransfers.tech

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=45.89.204.80
DB_PORT=3306
DB_DATABASE=u747049282_development
DB_USERNAME=u747049282_development
DB_PASSWORD=pxm.nhd2KAP9wec4kad
MYSQL_ATTR_SSL_CA=/etc/ssl/certs/ca-certificates.crt

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

GOOGLE_MAPS_API=AIzaSyA3IQDWP-tio5jxcL72kaSf9ZNJbU3Tdpc
FLIGHT_TRACKING=dc3405a00e47a53af51783e430df0c99
MAILJET_KEY=26b03aa14a5dda5e081c43dcbd0b6244
MAILJET_SECRET=e819b1c8b5bb205a23fe2048e8c59832
JWT_TOKEN=naz0ewu4brh4MAX!yce
AIRBRAKE_ID=518274
AIRBRAKE_KEY=64f48be11703b81ee65137e65a78553f